html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(seapattern.jpg); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.header_and_panel{
    background-color: #7b8fb5;
    width: 660px;
    opacity: 0.9;
    border: none;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

#deck {
    width: 680px;
    min-height: 680px;
    background: linear-gradient(160deg, #7abdda 0%, #08bef1 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

#deck .card {
    height: 125px;
    width: 125px;
    background: #3b2e49bf;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

#deck .card.open {
    transform: rotateY(0);
    background: #6859ccbf;
    cursor: default;
    /*below disables event handler for elements with this class*/
    pointer-events: none;
}

#deck .card.show {
    font-size: 50px;
}

#deck .card.match {
    cursor: default;
    background: #27d8e4;
    font-size: 50px;
}

#deck .card.nomatch {
    background: #ef9e1bf7;
}

/*
 * Styles for the Score Panel
 */
.score-panel {
    display: flex;
    justify-content: space-around;
    flex: auto 1 1;
    width: 660px;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    text-align: center;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .timer {
  text-align: center;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
    text-align: center;
}




/*
* Styles for the modal
*/
.modal_background {
  position: absolute;
  top: 0;
  left: 0;
  height: 70%;
  width: 80%;
  background: rgba(0, 0, 0, 0);
}

.modal_body {
  position: relative;
  width: 500px;
  top: 46.5%;
  left: 40%;
  background: #323a80;
  border-style: solid;
  border-color: #6859cc;
  opactiy: 0.97;
}

.modal_message{
  text-align: center;
}

.modal_title {
  text-align: center;
  color: #c761c3;
}

.modal_stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

h2 {
  color: #0595de;
}

.modal_text {
  color: #0ebfbfe8;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
}

.modal_close {
  font-weight: bold;
  font-weight: 40px;
}

.modal_buttons {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.modal_button {
  height: 40px;
  width: 60px;
  border: none;
  border-radius: 15%;
  font-size: 18px;
}

.hide {
  display: none;
}
